<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net47" />
  <package id="coveralls.net" version="0.7.0" targetFramework="net47" developmentDependency="true" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net47" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net47" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net47" />
  <package id="Moq" version="4.8.1" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net47" />
  <package id="OpenCover" version="4.6.519" targetFramework="net47" developmentDependency="true" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net47" />
  <package id="Should" version="1.1.20" targetFramework="net47" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net47" />
  <package id="xunit" version="1.9.2" targetFramework="net47" />
  <package id="xunit.runner.visualstudio" version="2.0.1" targetFramework="net47" developmentDependency="true" />
</packages>